
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
    margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html, body {
    min-height: 100%;
    font-size: 16px;
    font-family: var(--ff-base);
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-base);
}
/*
6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}


/* Root Styles */
:root {
    --clr-desat-blu: hsl(238, 29%, 16%);

    --clr-soft-red: hsl(14, 88%, 65%);
    --clr-soft-violet: hsl(273, 75%, 66%);
    --clr-soft-blue: hsl(240, 73%, 65%);

    --clr-vry-drk-gry-blu: hsl(237, 12%, 33%);
    --clr-drk-gry-blu: hsl(240, 6%, 50%);
    --clr-lght-gry-blu: hsl(240, 5%, 91%);

    --ff-base: 'Kumbh Sans', sans-serif;

    --transition: 300ms ease-in-out;

    --fw-reg: 400;
    --fw-bold: 700;
}

/* general styles */

.grid {
    display: grid;
}

.flex_row {
    display: flex;
    flex-wrap: wrap;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.center_by_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_by_grid {
    display: grid;
    place-content: center;
}

.inactive {
    display: none;
}

.opacity {
    opacity: 1;
}

.center {
  justify-content: center;
  align-items: center;
}

img {
    max-width: 100%;
}

.App {
    min-height: 100vh;
    padding-inline: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
}

.dice_container {
    background-color: lightslategray;

    width: 100%;
    padding: 1em 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    justify-items: center;
    gap: 2em;

    border-radius: 1rem;
    border-style: inset;
    border: 1px solid lightgray;
}

.die {
    height: 5rem;
    width: 5rem;

    font-size: 1.5rem;
    font-weight: 500;
    

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    border-radius: .5rem;

    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button {
    margin-top: 2em;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;

    width: 10rem;

    border-radius: .5rem;
    border: none;

    background-color: #DD4A48;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

button:hover {
    cursor: pointer;
}

button:active, .die:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media screen and (min-width: 750px) {
    .dice_container {
        max-width: 50rem;
        grid-template-columns: repeat(5, 1fr);
    }
}
